/* font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Source Sans Pro', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    color: black;
}

li {
    list-style: none;
}

.link_footer {
    color: #fff;
}

.link_footer:hover {
    color: #F28004;
}


.container {
    /* width: 1080px; */
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 25px
}

.anchor {
    height: 10rem;
    margin-top: -7rem;
}

.line {
    border: #1B3970 2px solid;
    margin: 0 auto;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.sub_title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 25px;
}

.bg_white {
    background-color: #fff;
}

.bg_yellow {
    background-color: #F28004;
}

.bg_dark {
    background-color: #47525E;
}

.bg_blue {
    background-color: #1B3970;
}

.color_blue {
    color: #1B3970;
}

.color_orange {
    color: #F28004;
}

.color_dark {
    color: #47525E;
}

.lista {
    line-height: 32px;
}

.logo {
    width: 150px;
}

.carousel {
    margin-top: 50px;
    max-height: calc(100vh - 80px);
}

.quadro_venda {
    border: #1B3970 2px solid;
    border-radius: 5px;
    /* width: 1000px; */
    /* height: 450px; */
    margin: 0 auto;
}

.card {
    border: none;
    border-radius: 5px;
}

.card-body {
    padding: 1.5rem;
}

.shadow {
    -webkit-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1800px) { 
    .carousel {
        margin: 0 auto;
        max-width: 1200px;
        /* height: auto; */
    }
}
    
