/* font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Source Sans Pro', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    /* width: 1080px; */
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 25px
}

.anchor {
    height: 85px;
    margin-top: -50px;
}

.line {
    border: #1B3970 2px solid;
    margin: 0 auto;
}

.bg_white {
    background-color: #fff;
}

.bg-dark {
    background-color: #47525E;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.sub_title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.bg_blue {
    background-color: #1B3970;
}

.color_blue {
    color: #1B3970;
}

.color_orange {
    color: #F28004;
}

/* .menu {
    height: 85px; 
} */

.logo {
    width: 150px;
}

.carousel {
    margin-top: 50px;
    max-height: calc(100vh - 80px);
}

.quadro_venda {
    border: #1B3970 2px solid;
    border-radius: 5px;
    /* width: 1000px; */
    /* height: 450px; */
    margin: 0 auto;
}

.card {
    border: none;
    border-radius: 5px;
}

.card-body {
    padding: 1.5rem;
}

.shadow {
    -webkit-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.1);
}