/* font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    width: 1080px;
    max-width: 1080px;
}

.anchor {
    height: 85px;
}

.bg_white {
    background-color: #fff;
}

.title {
    font-family: 'Raleway', sans-serif;
}

.color_blue {
    color: #1B3970;
}

.color_orange {
    color: #F28004;
}

.menu {
    height: 85px
}

.logo {
    width:150px;
}

.carousel {
    height: calc(100vh - 85px);
}

